/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

/* banner styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 140px;
    margin-top: 50px;
    padding: 0 80px 0 106px;
    background: #161616;
    border-radius: 30px;
    color: #FFFFFF;


}

.banner-details {
    display: flex;
    flex-direction: column;
}

.banner-info {
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
}

.banner-description {
    margin-bottom: 10px;
    font-weight: 400px;
    font-size: 16px;
}

.banner-button-div {
    padding-bottom: 40px;
}

.banner-button-div span>a,
.banner-button-div span {
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    width: 140px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    transition: padding 5s, border 5s, color 3s;
}

/* Animation */
.banner-button-div span:hover {
    padding-right: 40px;
    color: blue;
    border: 2px solid gold;
}

.banner-thumblain img {
    width: 100vh;
}

/* navigation bar styles */
.blog-section {
    width: 100%;
    height: 100%;
}

aside>div>div {
    margin-top: 0px;
}

.site-nav {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
}

.site-nav .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
}

.site-nav .button a {
    text-decoration: none;
    color: #161616;
    text-align: center;
}

.diffrent-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 252px;
    height: 64px;
    background: red;
    border-radius: 10px;
}

.diffrent-btn a {
    text-decoration: none;
    color: #FFFFFF;

}

/* blog styles */
.blog-section {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding-bottom: 200px;
}

.blog {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-details {
    margin-left: 10px;
}

.blog-btn {
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #161616;
    width: 100px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
}

.blog-description {
    font-weight: 600;
    font-size: 18px;
    color: #161616;
}


.duration-comment .fa-message.icon {
    margin-left: 30px;
    font-size: 24px;
}

.duration,
.comment {
    margin-left: 10px;
    font-size: 24px;
    color: rgba(22, 22, 22, 0.7);
}

/* View button */
.diffrent-btn.view-btn {
    display: none;
}

/* footer style */
footer {
    padding: 100px;
    margin: auto;
    background-color: #161616;
}

.footer-title {
    color: #FFFFFF;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B9B9B9;
    grid-gap: 30px;

}

.footer-info p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.social-icons,
a {
    margin: 10px;
    text-align: center;
    color: white;
}

/*-------------------------------------------------------------------------
                                 Responsive layout
 -------------------------------------------------------------------------- */

/* Mobile Devices */
@media only screen and (max-width:688px) {

    /* banner style */
    .banner-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        margin: auto;
        width: auto;
    }

    .banner-title {
        margin: 0;
    }

    .banner-thumblain img {
        width: 100%;
    }

    /* aside and blog styles */
    .blog-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .site-nav {
        background-color: #FFFFFF;
        margin: auto;
    }

    .button {
        font-weight: 500;
        font-size: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    /* footer style */
    footer {
        width: auto;
    }

    .footer-info {
        display: block;
        text-align: center;
    }
}

/* -------------------
   Tablet view 
 ------------------- */
@media only screen and (min-width:689px) and (max-width:992px) {

    /* Banner styles */
    .banner-container {
        margin: auto;
        width: auto;
    }

    .banner-title {
        margin: 5px;
    }

    /*aside and Blog styles */
    .blog-section {
        flex-direction: column;
    }

    .site-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        height: 200px;
        width: auto;
        background-color: #FFFFFF;
    }

    .button {
        font-weight: 500;
        font-size: 20px;
        margin: auto;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }

    /* View button */
    .diffrent-btn.view-btn {
        margin-bottom: 50px;
        display: block;
    }

    .view-btn span {
        display: flex;
        flex-direction: column;
        padding-top: 7px;
    }



    /* footer style */
    footer {
        margin: auto;
    }

    .footer-info {
        font-size: 10px;
    }
}